/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Snackbar styles */
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
  
  .mat-mdc-button {
    color: white !important;
  }
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
  
  .mat-mdc-button {
    color: white !important;
  }
}
